* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

:root {
  --default-white: #f0f5f9;
  --default-dark: #1e2022;
  --white-shade: #c9d6df;
  --dark-white: #52616b;
}

body {
  background: var(--default-white);
  color: var(--default-dark);
}

header h1 {
  background: var(--dark-white);
  color: var(--default-white);
  text-align: center;
  padding: 2rem;
}

main {
  display: grid;
  place-items: center;
  background: var(--white-shade);
  width: 80%;
  margin: 2rem auto;
  border-radius: 5px;
  padding: 0.5rem 0 0.5rem 0;
}

main h3 {
  margin: 1rem;
  font-size: 25px;
}

#initialPrice {
  padding: 0.8rem 1rem;
  background: var(--dark-white);
  color: var(--default-white);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}

#stocksQuantity {
  padding: 0.8rem 1rem;
  background: var(--dark-white);
  color: var(--default-white);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}

#currentPrice {
  padding: 0.8rem 1rem;
  background: var(--dark-white);
  color: var(--default-white);
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
}

::placeholder {
  color: var(--white-shade);
}

main button {
  background: var(--default-dark);
  color: var(--white-shade);
  padding: 0.4rem 0.9rem;
  margin-top: 1.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  font-size: 14px;
}

main button:hover {
  background: transparent;
  color: var(--default-dark);
  outline: 2px solid var(--default-dark);
}

main #outputBox {
  background: var(--default-white);
  margin: 2rem auto;
  font-size: 25px;
  font-weight: bolder;
  border-radius: 5px;
  padding: 1rem;
  user-select: none;
  text-align: center;
}

@media only screen and (max-width: 900px) {
    #outputBox {
        width: 90%;
    }
}

/*
    hide input tags arrows
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
